.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
