.popup__container {
  box-sizing: border-box;
  position: fixed;
  max-width: 430px;
  width: 100%;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 550px) {
  .popup__container {
    max-width: clamp(282px, 89vw, 430px);
    padding: 25px 22px;
  }
}
