.logo {
  display: block;
  max-width: 142px;
  transition: all .3s;
}

.logo:hover {
  opacity: .6;
}

@media screen and (max-width: 930px) {
  .logo {
    max-width: clamp(103px, 25vw, 142px);
  }
}
