@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

@import url('../blocks/root/root.css');
@import url('../blocks/page/page.css');
@import url('../blocks/root/__page/root__page.css');

/* header */
@import url('../blocks/header/header.css');
@import url('../blocks/page/__header/page__header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/header/__logo/header__logo.css');

/* profile */
@import url('../blocks/profile/profile.css');
@import url('../blocks/page/__profile/page__profile.css');
@import url('../blocks/avatar/avatar.css');
@import url('../blocks/avatar/__button/avatar__button.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/avatar/__image/avatar__image.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__about/profile__about.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__edit-icon/profile__edit-icon.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');

/* elements */
@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__list/elements__list.css');

/* card */
@import url('../blocks/card/card.css');
@import url('../blocks/card/__image-wrapper/card__image-wrapper.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__remove-button/card__remove-button.css');
@import url('../blocks/card/__remove-button/_active/card__remove-button_active.css');
@import url('../blocks/card/__footer/card__footer.css');
@import url('../blocks/card/__heading/card__heading.css');
@import url('../blocks/card/__like-button/card__like-button.css');
@import url('../blocks/card/__like-wrapper/card__like-wrapper.css');
@import url('../blocks/card/__like-button/_active/card__like-button_active.css');
@import url('../blocks/card/__like-counter/card__like-counter.css');

/* footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/page/__footer/page__footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

/* popup */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_preview/popup_preview.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__container/_preview/popup__container_preview.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__form-fieldset/popup__form-fieldset.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__input/_state/popup__input_state_invalid.css');
@import url('../blocks/popup/__input-error/popup__input-error.css');
@import url('../blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('../blocks/popup/__save-button/popup__save-button.css');
@import url('../blocks/popup/__save-button/_invalid/popup__save-button_invalid.css');

/* preview */
@import url('../blocks/preview/preview.css');
@import url('../blocks/preview/__image/preview__image.css');
@import url('../blocks/preview/__caption/preview__caption.css');
