.profile__name {
  margin: 0;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .profile__name {
    font-size: clamp(27px, 4.6vw, 42px);
  }
}
