.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent url('../../../images/cross.svg') center center/contain no-repeat;
  border: none;
  transform: rotate(45deg);
  transition: all .3s;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    top: -45px;
    right: 6px;
    width: clamp(26px, 7.3vw, 40px);
    height: clamp(26px, 7.3vw, 40px);
  }
}
