.profile__add-button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  padding: 0;
  background: transparent url('../../../images/cross.svg') center center no-repeat;
  border: 2px solid #fff;
  transition: all .3s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 930px) {
  .profile__add-button {
    max-width: 335px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    background-size: 16px 16px;
  }
}
