.popup__save-button {
  display: block;
  width: 100%;
  margin-top: 12px;
  padding: 15px 0 14px;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  background-color: #000;
  border: none;
  transition: opacity .3s;
  cursor: pointer;
}

.popup__save-button:hover:enabled {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    margin-top: 46px;
    font-size: 14px;
  }
}
