.card__remove-button {
  width: 18px;
  height: 19px;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url('../../../images/trash.svg') center center/contain no-repeat;
  border: none;
  transition: all .3s;
  cursor: pointer;
}

.card__remove-button:hover {
  opacity: .6;
}
