.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
}
